
# Ignore locally installed dependencies
/node_modules/

# Ignore IDE specific files
/.idea/
/.vscode/

# Ignore build products
/src/*.js
/src/*.d.ts

# Ignore coverage report files
/.nyc_output/
/coverage/
